@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-vOKgJsNzv7F: rgb(164, 71, 225);
  --plasmic-token-background: var(--token-vOKgJsNzv7F);
  --token-ExWuKGlQbNp: rgb(162, 162, 162);
  --plasmic-token-dim-text: var(--token-ExWuKGlQbNp);
}

.plasmic_default_styles {
  --mixin-y9P5qGC65Iy_font-family: "Roboto";
  --mixin-y9P5qGC65Iy_font-size: 14px;
  --mixin-y9P5qGC65Iy_font-weight: 400;
  --mixin-y9P5qGC65Iy_font-style: normal;
  --mixin-y9P5qGC65Iy_color: #535353;
  --mixin-y9P5qGC65Iy_text-align: left;
  --mixin-y9P5qGC65Iy_text-transform: none;
  --mixin-y9P5qGC65Iy_line-height: 1.5;
  --mixin-y9P5qGC65Iy_letter-spacing: normal;
  --mixin-y9P5qGC65Iy_white-space: pre-wrap;
  --mixin-y9P5qGC65Iy_user-select: text;
  --mixin-y9P5qGC65Iy_text-overflow: clip;
  --mixin-y9P5qGC65Iy_text-decoration-line: none;
  --mixin-Hyrtvl53Z0q_font-family: "Inter";
  --mixin-Hyrtvl53Z0q_color: #000000;
  --mixin-Hyrtvl53Z0q_font-size: 72px;
  --mixin-Hyrtvl53Z0q_font-weight: 900;
  --mixin-Hyrtvl53Z0q_letter-spacing: -4px;
  --mixin-Hyrtvl53Z0q_line-height: 1;
  --mixin-qxx0OeR8gTN_font-family: "Inter";
  --mixin-qxx0OeR8gTN_color: #000000;
  --mixin-qxx0OeR8gTN_font-size: 48px;
  --mixin-qxx0OeR8gTN_font-weight: 700;
  --mixin-qxx0OeR8gTN_letter-spacing: -1px;
  --mixin-qxx0OeR8gTN_line-height: 1.1;
  --mixin-aSKdK56CFX1_font-family: "Inter";
  --mixin-aSKdK56CFX1_color: #000000;
  --mixin-aSKdK56CFX1_font-size: 32px;
  --mixin-aSKdK56CFX1_font-weight: 600;
  --mixin-aSKdK56CFX1_letter-spacing: -0.8px;
  --mixin-aSKdK56CFX1_line-height: 1.2;
  --mixin-WJ7zG4jPPP7_font-family: "Inter";
  --mixin-WJ7zG4jPPP7_color: #000000;
  --mixin-WJ7zG4jPPP7_font-size: 24px;
  --mixin-WJ7zG4jPPP7_font-weight: 600;
  --mixin-WJ7zG4jPPP7_letter-spacing: -0.5px;
  --mixin-WJ7zG4jPPP7_line-height: 1.3;
  --mixin-D0XM0unY_O-_font-family: "Inter";
  --mixin-D0XM0unY_O-_color: #000000;
  --mixin-D0XM0unY_O-_font-size: 20px;
  --mixin-D0XM0unY_O-_font-weight: 600;
  --mixin-D0XM0unY_O-_letter-spacing: -0.3px;
  --mixin-D0XM0unY_O-_line-height: 1.5;
  --mixin-wKCHhVg4Rrc_font-family: "Inter";
  --mixin-wKCHhVg4Rrc_color: #000000;
  --mixin-wKCHhVg4Rrc_font-size: 16px;
  --mixin-wKCHhVg4Rrc_font-weight: 600;
  --mixin-wKCHhVg4Rrc_line-height: 1.5;
  --mixin-9s9Urzu4MNI_border-left-color: #dddddd;
  --mixin-9s9Urzu4MNI_border-left-style: solid;
  --mixin-9s9Urzu4MNI_border-left-width: 3px;
  --mixin-9s9Urzu4MNI_color: #888888;
  --mixin-9s9Urzu4MNI_padding-left: 10px;
  --mixin--2QEDPJ3LdO_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--2QEDPJ3LdO_border-bottom-color: #dddddd;
  --mixin--2QEDPJ3LdO_border-bottom-style: solid;
  --mixin--2QEDPJ3LdO_border-bottom-width: 1px;
  --mixin--2QEDPJ3LdO_border-left-color: #dddddd;
  --mixin--2QEDPJ3LdO_border-left-style: solid;
  --mixin--2QEDPJ3LdO_border-left-width: 1px;
  --mixin--2QEDPJ3LdO_border-right-color: #dddddd;
  --mixin--2QEDPJ3LdO_border-right-style: solid;
  --mixin--2QEDPJ3LdO_border-right-width: 1px;
  --mixin--2QEDPJ3LdO_border-top-color: #dddddd;
  --mixin--2QEDPJ3LdO_border-top-style: solid;
  --mixin--2QEDPJ3LdO_border-top-width: 1px;
  --mixin--2QEDPJ3LdO_border-bottom-left-radius: 3px;
  --mixin--2QEDPJ3LdO_border-bottom-right-radius: 3px;
  --mixin--2QEDPJ3LdO_border-top-left-radius: 3px;
  --mixin--2QEDPJ3LdO_border-top-right-radius: 3px;
  --mixin--2QEDPJ3LdO_font-family: "Inconsolata";
  --mixin--2QEDPJ3LdO_padding-bottom: 1px;
  --mixin--2QEDPJ3LdO_padding-left: 4px;
  --mixin--2QEDPJ3LdO_padding-right: 4px;
  --mixin--2QEDPJ3LdO_padding-top: 1px;
  --mixin-8SAZDQFb3K1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-8SAZDQFb3K1_border-bottom-color: #dddddd;
  --mixin-8SAZDQFb3K1_border-bottom-style: solid;
  --mixin-8SAZDQFb3K1_border-bottom-width: 1px;
  --mixin-8SAZDQFb3K1_border-left-color: #dddddd;
  --mixin-8SAZDQFb3K1_border-left-style: solid;
  --mixin-8SAZDQFb3K1_border-left-width: 1px;
  --mixin-8SAZDQFb3K1_border-right-color: #dddddd;
  --mixin-8SAZDQFb3K1_border-right-style: solid;
  --mixin-8SAZDQFb3K1_border-right-width: 1px;
  --mixin-8SAZDQFb3K1_border-top-color: #dddddd;
  --mixin-8SAZDQFb3K1_border-top-style: solid;
  --mixin-8SAZDQFb3K1_border-top-width: 1px;
  --mixin-8SAZDQFb3K1_border-bottom-left-radius: 3px;
  --mixin-8SAZDQFb3K1_border-bottom-right-radius: 3px;
  --mixin-8SAZDQFb3K1_border-top-left-radius: 3px;
  --mixin-8SAZDQFb3K1_border-top-right-radius: 3px;
  --mixin-8SAZDQFb3K1_font-family: "Inconsolata";
  --mixin-8SAZDQFb3K1_padding-bottom: 3px;
  --mixin-8SAZDQFb3K1_padding-left: 6px;
  --mixin-8SAZDQFb3K1_padding-right: 6px;
  --mixin-8SAZDQFb3K1_padding-top: 3px;
  --mixin-g7RuF37_8NQ_display: flex;
  --mixin-g7RuF37_8NQ_flex-direction: column;
  --mixin-g7RuF37_8NQ_align-items: stretch;
  --mixin-g7RuF37_8NQ_justify-content: flex-start;
  --mixin-g7RuF37_8NQ_list-style-position: outside;
  --mixin-g7RuF37_8NQ_padding-left: 40px;
  --mixin-g7RuF37_8NQ_position: relative;
  --mixin-g7RuF37_8NQ_list-style-type: decimal;
  --mixin-QKvM-qEAg5y_display: flex;
  --mixin-QKvM-qEAg5y_flex-direction: column;
  --mixin-QKvM-qEAg5y_align-items: stretch;
  --mixin-QKvM-qEAg5y_justify-content: flex-start;
  --mixin-QKvM-qEAg5y_list-style-position: outside;
  --mixin-QKvM-qEAg5y_padding-left: 40px;
  --mixin-QKvM-qEAg5y_position: relative;
  --mixin-QKvM-qEAg5y_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-y9P5qGC65Iy_font-family);
  font-size: var(--mixin-y9P5qGC65Iy_font-size);
  font-weight: var(--mixin-y9P5qGC65Iy_font-weight);
  font-style: var(--mixin-y9P5qGC65Iy_font-style);
  color: var(--mixin-y9P5qGC65Iy_color);
  text-align: var(--mixin-y9P5qGC65Iy_text-align);
  text-transform: var(--mixin-y9P5qGC65Iy_text-transform);
  line-height: var(--mixin-y9P5qGC65Iy_line-height);
  letter-spacing: var(--mixin-y9P5qGC65Iy_letter-spacing);
  white-space: var(--mixin-y9P5qGC65Iy_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-Hyrtvl53Z0q_font-family);
  color: var(--mixin-Hyrtvl53Z0q_color);
  font-size: var(--mixin-Hyrtvl53Z0q_font-size);
  font-weight: var(--mixin-Hyrtvl53Z0q_font-weight);
  letter-spacing: var(--mixin-Hyrtvl53Z0q_letter-spacing);
  line-height: var(--mixin-Hyrtvl53Z0q_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-qxx0OeR8gTN_font-family);
  color: var(--mixin-qxx0OeR8gTN_color);
  font-size: var(--mixin-qxx0OeR8gTN_font-size);
  font-weight: var(--mixin-qxx0OeR8gTN_font-weight);
  letter-spacing: var(--mixin-qxx0OeR8gTN_letter-spacing);
  line-height: var(--mixin-qxx0OeR8gTN_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-aSKdK56CFX1_font-family);
  color: var(--mixin-aSKdK56CFX1_color);
  font-size: var(--mixin-aSKdK56CFX1_font-size);
  font-weight: var(--mixin-aSKdK56CFX1_font-weight);
  letter-spacing: var(--mixin-aSKdK56CFX1_letter-spacing);
  line-height: var(--mixin-aSKdK56CFX1_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-WJ7zG4jPPP7_font-family);
  color: var(--mixin-WJ7zG4jPPP7_color);
  font-size: var(--mixin-WJ7zG4jPPP7_font-size);
  font-weight: var(--mixin-WJ7zG4jPPP7_font-weight);
  letter-spacing: var(--mixin-WJ7zG4jPPP7_letter-spacing);
  line-height: var(--mixin-WJ7zG4jPPP7_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-D0XM0unY_O-_font-family);
  color: var(--mixin-D0XM0unY_O-_color);
  font-size: var(--mixin-D0XM0unY_O-_font-size);
  font-weight: var(--mixin-D0XM0unY_O-_font-weight);
  letter-spacing: var(--mixin-D0XM0unY_O-_letter-spacing);
  line-height: var(--mixin-D0XM0unY_O-_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-wKCHhVg4Rrc_font-family);
  color: var(--mixin-wKCHhVg4Rrc_color);
  font-size: var(--mixin-wKCHhVg4Rrc_font-size);
  font-weight: var(--mixin-wKCHhVg4Rrc_font-weight);
  line-height: var(--mixin-wKCHhVg4Rrc_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-9s9Urzu4MNI_color);
  padding-left: var(--mixin-9s9Urzu4MNI_padding-left);
  border-left: var(--mixin-9s9Urzu4MNI_border-left-width)
    var(--mixin-9s9Urzu4MNI_border-left-style)
    var(--mixin-9s9Urzu4MNI_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin--2QEDPJ3LdO_background);
  font-family: var(--mixin--2QEDPJ3LdO_font-family);
  border-radius: var(--mixin--2QEDPJ3LdO_border-top-left-radius)
    var(--mixin--2QEDPJ3LdO_border-top-right-radius)
    var(--mixin--2QEDPJ3LdO_border-bottom-right-radius)
    var(--mixin--2QEDPJ3LdO_border-bottom-left-radius);
  padding: var(--mixin--2QEDPJ3LdO_padding-top)
    var(--mixin--2QEDPJ3LdO_padding-right)
    var(--mixin--2QEDPJ3LdO_padding-bottom)
    var(--mixin--2QEDPJ3LdO_padding-left);
  border-top: var(--mixin--2QEDPJ3LdO_border-top-width)
    var(--mixin--2QEDPJ3LdO_border-top-style)
    var(--mixin--2QEDPJ3LdO_border-top-color);
  border-right: var(--mixin--2QEDPJ3LdO_border-right-width)
    var(--mixin--2QEDPJ3LdO_border-right-style)
    var(--mixin--2QEDPJ3LdO_border-right-color);
  border-bottom: var(--mixin--2QEDPJ3LdO_border-bottom-width)
    var(--mixin--2QEDPJ3LdO_border-bottom-style)
    var(--mixin--2QEDPJ3LdO_border-bottom-color);
  border-left: var(--mixin--2QEDPJ3LdO_border-left-width)
    var(--mixin--2QEDPJ3LdO_border-left-style)
    var(--mixin--2QEDPJ3LdO_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-8SAZDQFb3K1_background);
  font-family: var(--mixin-8SAZDQFb3K1_font-family);
  border-radius: var(--mixin-8SAZDQFb3K1_border-top-left-radius)
    var(--mixin-8SAZDQFb3K1_border-top-right-radius)
    var(--mixin-8SAZDQFb3K1_border-bottom-right-radius)
    var(--mixin-8SAZDQFb3K1_border-bottom-left-radius);
  padding: var(--mixin-8SAZDQFb3K1_padding-top)
    var(--mixin-8SAZDQFb3K1_padding-right)
    var(--mixin-8SAZDQFb3K1_padding-bottom)
    var(--mixin-8SAZDQFb3K1_padding-left);
  border-top: var(--mixin-8SAZDQFb3K1_border-top-width)
    var(--mixin-8SAZDQFb3K1_border-top-style)
    var(--mixin-8SAZDQFb3K1_border-top-color);
  border-right: var(--mixin-8SAZDQFb3K1_border-right-width)
    var(--mixin-8SAZDQFb3K1_border-right-style)
    var(--mixin-8SAZDQFb3K1_border-right-color);
  border-bottom: var(--mixin-8SAZDQFb3K1_border-bottom-width)
    var(--mixin-8SAZDQFb3K1_border-bottom-style)
    var(--mixin-8SAZDQFb3K1_border-bottom-color);
  border-left: var(--mixin-8SAZDQFb3K1_border-left-width)
    var(--mixin-8SAZDQFb3K1_border-left-style)
    var(--mixin-8SAZDQFb3K1_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-g7RuF37_8NQ_display);
  flex-direction: var(--mixin-g7RuF37_8NQ_flex-direction);
  align-items: var(--mixin-g7RuF37_8NQ_align-items);
  justify-content: var(--mixin-g7RuF37_8NQ_justify-content);
  list-style-position: var(--mixin-g7RuF37_8NQ_list-style-position);
  padding-left: var(--mixin-g7RuF37_8NQ_padding-left);
  position: var(--mixin-g7RuF37_8NQ_position);
  list-style-type: var(--mixin-g7RuF37_8NQ_list-style-type);
  flex-column-gap: var(--mixin-g7RuF37_8NQ_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-QKvM-qEAg5y_display);
  flex-direction: var(--mixin-QKvM-qEAg5y_flex-direction);
  align-items: var(--mixin-QKvM-qEAg5y_align-items);
  justify-content: var(--mixin-QKvM-qEAg5y_justify-content);
  list-style-position: var(--mixin-QKvM-qEAg5y_list-style-position);
  padding-left: var(--mixin-QKvM-qEAg5y_padding-left);
  position: var(--mixin-QKvM-qEAg5y_position);
  list-style-type: var(--mixin-QKvM-qEAg5y_list-style-type);
  flex-column-gap: var(--mixin-QKvM-qEAg5y_flex-column-gap);
}
