@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-lFvaNhWQqB_font-family: "Inter";
  --mixin-lFvaNhWQqB_font-size: 16px;
  --mixin-lFvaNhWQqB_font-weight: 400;
  --mixin-lFvaNhWQqB_font-style: normal;
  --mixin-lFvaNhWQqB_color: #535353;
  --mixin-lFvaNhWQqB_text-align: left;
  --mixin-lFvaNhWQqB_text-transform: none;
  --mixin-lFvaNhWQqB_line-height: 1.5;
  --mixin-lFvaNhWQqB_letter-spacing: normal;
  --mixin-lFvaNhWQqB_white-space: pre-wrap;
  --mixin-lFvaNhWQqB_user-select: text;
  --mixin-lFvaNhWQqB_text-decoration-line: none;
  --mixin-lFvaNhWQqB_text-overflow: clip;
  --mixin-VmeIA0G5w5_color: #000000;
  --mixin-VmeIA0G5w5_font-weight: 900;
  --mixin-VmeIA0G5w5_font-size: 72px;
  --mixin-VmeIA0G5w5_line-height: 1;
  --mixin-VmeIA0G5w5_letter-spacing: -4px;
  --mixin-tjm1q8HLyE_font-family: "Inter";
  --mixin-tjm1q8HLyE_color: #000000;
  --mixin-tjm1q8HLyE_font-size: 48px;
  --mixin-tjm1q8HLyE_font-weight: 700;
  --mixin-tjm1q8HLyE_letter-spacing: -1px;
  --mixin-tjm1q8HLyE_line-height: 1.1;
  --mixin-QbJ4g0wqTp_color: #0070f3;
  --mixin-MqiLYZ03Fv_font-family: "Inter";
  --mixin-MqiLYZ03Fv_color: #000000;
  --mixin-MqiLYZ03Fv_font-size: 32px;
  --mixin-MqiLYZ03Fv_font-weight: 600;
  --mixin-MqiLYZ03Fv_letter-spacing: -0.8px;
  --mixin-MqiLYZ03Fv_line-height: 1.2;
  --mixin-W_pfISAlP0_font-family: "Inter";
  --mixin-W_pfISAlP0_color: #000000;
  --mixin-W_pfISAlP0_font-size: 24px;
  --mixin-W_pfISAlP0_font-weight: 600;
  --mixin-W_pfISAlP0_letter-spacing: -0.5px;
  --mixin-W_pfISAlP0_line-height: 1.3;
  --mixin-35phommMD-_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-35phommMD-_border-bottom-color: #dddddd;
  --mixin-35phommMD-_border-bottom-style: solid;
  --mixin-35phommMD-_border-bottom-width: 1px;
  --mixin-35phommMD-_border-left-color: #dddddd;
  --mixin-35phommMD-_border-left-style: solid;
  --mixin-35phommMD-_border-left-width: 1px;
  --mixin-35phommMD-_border-right-color: #dddddd;
  --mixin-35phommMD-_border-right-style: solid;
  --mixin-35phommMD-_border-right-width: 1px;
  --mixin-35phommMD-_border-top-color: #dddddd;
  --mixin-35phommMD-_border-top-style: solid;
  --mixin-35phommMD-_border-top-width: 1px;
  --mixin-35phommMD-_border-bottom-left-radius: 3px;
  --mixin-35phommMD-_border-bottom-right-radius: 3px;
  --mixin-35phommMD-_border-top-left-radius: 3px;
  --mixin-35phommMD-_border-top-right-radius: 3px;
  --mixin-35phommMD-_font-family: "Inconsolata";
  --mixin-35phommMD-_padding-bottom: 1px;
  --mixin-35phommMD-_padding-left: 4px;
  --mixin-35phommMD-_padding-right: 4px;
  --mixin-35phommMD-_padding-top: 1px;
  --mixin-rGIVD4BxJx_border-left-color: #dddddd;
  --mixin-rGIVD4BxJx_border-left-style: solid;
  --mixin-rGIVD4BxJx_border-left-width: 3px;
  --mixin-rGIVD4BxJx_color: #888888;
  --mixin-rGIVD4BxJx_padding-left: 10px;
  --mixin-OTlzbBE3r7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-OTlzbBE3r7_border-bottom-color: #dddddd;
  --mixin-OTlzbBE3r7_border-bottom-style: solid;
  --mixin-OTlzbBE3r7_border-bottom-width: 1px;
  --mixin-OTlzbBE3r7_border-left-color: #dddddd;
  --mixin-OTlzbBE3r7_border-left-style: solid;
  --mixin-OTlzbBE3r7_border-left-width: 1px;
  --mixin-OTlzbBE3r7_border-right-color: #dddddd;
  --mixin-OTlzbBE3r7_border-right-style: solid;
  --mixin-OTlzbBE3r7_border-right-width: 1px;
  --mixin-OTlzbBE3r7_border-top-color: #dddddd;
  --mixin-OTlzbBE3r7_border-top-style: solid;
  --mixin-OTlzbBE3r7_border-top-width: 1px;
  --mixin-OTlzbBE3r7_border-bottom-left-radius: 3px;
  --mixin-OTlzbBE3r7_border-bottom-right-radius: 3px;
  --mixin-OTlzbBE3r7_border-top-left-radius: 3px;
  --mixin-OTlzbBE3r7_border-top-right-radius: 3px;
  --mixin-OTlzbBE3r7_font-family: "Inconsolata";
  --mixin-OTlzbBE3r7_padding-bottom: 3px;
  --mixin-OTlzbBE3r7_padding-left: 6px;
  --mixin-OTlzbBE3r7_padding-right: 6px;
  --mixin-OTlzbBE3r7_padding-top: 3px;
  --mixin-FicmPvVcgT_display: flex;
  --mixin-FicmPvVcgT_flex-direction: column;
  --mixin-FicmPvVcgT_align-items: stretch;
  --mixin-FicmPvVcgT_justify-content: flex-start;
  --mixin-FicmPvVcgT_list-style-position: outside;
  --mixin-FicmPvVcgT_padding-left: 40px;
  --mixin-FicmPvVcgT_position: relative;
  --mixin-FicmPvVcgT_list-style-type: disc;
  --mixin-B6bqZHfMbr_display: flex;
  --mixin-B6bqZHfMbr_flex-direction: column;
  --mixin-B6bqZHfMbr_align-items: stretch;
  --mixin-B6bqZHfMbr_justify-content: flex-start;
  --mixin-B6bqZHfMbr_list-style-position: outside;
  --mixin-B6bqZHfMbr_padding-left: 40px;
  --mixin-B6bqZHfMbr_position: relative;
  --mixin-B6bqZHfMbr_list-style-type: decimal;
  --mixin-GcDHhclZKVi_font-family: "Inter";
  --mixin-GcDHhclZKVi_color: #000000;
  --mixin-GcDHhclZKVi_font-size: 20px;
  --mixin-GcDHhclZKVi_font-weight: 600;
  --mixin-GcDHhclZKVi_letter-spacing: -0.3px;
  --mixin-GcDHhclZKVi_line-height: 1.5;
  --mixin-1TtrqjJRrg0_font-family: "Inter";
  --mixin-1TtrqjJRrg0_color: #000000;
  --mixin-1TtrqjJRrg0_font-size: 16px;
  --mixin-1TtrqjJRrg0_font-weight: 600;
  --mixin-1TtrqjJRrg0_line-height: 1.5;
  --mixin-xfPf5lx32Fl_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-lFvaNhWQqB_font-family);
  font-size: var(--mixin-lFvaNhWQqB_font-size);
  font-weight: var(--mixin-lFvaNhWQqB_font-weight);
  font-style: var(--mixin-lFvaNhWQqB_font-style);
  color: var(--mixin-lFvaNhWQqB_color);
  text-align: var(--mixin-lFvaNhWQqB_text-align);
  text-transform: var(--mixin-lFvaNhWQqB_text-transform);
  line-height: var(--mixin-lFvaNhWQqB_line-height);
  letter-spacing: var(--mixin-lFvaNhWQqB_letter-spacing);
  white-space: var(--mixin-lFvaNhWQqB_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-VmeIA0G5w5_color);
  font-weight: var(--mixin-VmeIA0G5w5_font-weight);
  font-size: var(--mixin-VmeIA0G5w5_font-size);
  line-height: var(--mixin-VmeIA0G5w5_line-height);
  letter-spacing: var(--mixin-VmeIA0G5w5_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-tjm1q8HLyE_font-family);
  color: var(--mixin-tjm1q8HLyE_color);
  font-size: var(--mixin-tjm1q8HLyE_font-size);
  font-weight: var(--mixin-tjm1q8HLyE_font-weight);
  letter-spacing: var(--mixin-tjm1q8HLyE_letter-spacing);
  line-height: var(--mixin-tjm1q8HLyE_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-QbJ4g0wqTp_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-MqiLYZ03Fv_font-family);
  color: var(--mixin-MqiLYZ03Fv_color);
  font-size: var(--mixin-MqiLYZ03Fv_font-size);
  font-weight: var(--mixin-MqiLYZ03Fv_font-weight);
  letter-spacing: var(--mixin-MqiLYZ03Fv_letter-spacing);
  line-height: var(--mixin-MqiLYZ03Fv_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-W_pfISAlP0_font-family);
  color: var(--mixin-W_pfISAlP0_color);
  font-size: var(--mixin-W_pfISAlP0_font-size);
  font-weight: var(--mixin-W_pfISAlP0_font-weight);
  letter-spacing: var(--mixin-W_pfISAlP0_letter-spacing);
  line-height: var(--mixin-W_pfISAlP0_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-35phommMD-_background);
  font-family: var(--mixin-35phommMD-_font-family);
  border-radius: var(--mixin-35phommMD-_border-top-left-radius)
    var(--mixin-35phommMD-_border-top-right-radius)
    var(--mixin-35phommMD-_border-bottom-right-radius)
    var(--mixin-35phommMD-_border-bottom-left-radius);
  padding: var(--mixin-35phommMD-_padding-top)
    var(--mixin-35phommMD-_padding-right) var(--mixin-35phommMD-_padding-bottom)
    var(--mixin-35phommMD-_padding-left);
  border-top: var(--mixin-35phommMD-_border-top-width)
    var(--mixin-35phommMD-_border-top-style)
    var(--mixin-35phommMD-_border-top-color);
  border-right: var(--mixin-35phommMD-_border-right-width)
    var(--mixin-35phommMD-_border-right-style)
    var(--mixin-35phommMD-_border-right-color);
  border-bottom: var(--mixin-35phommMD-_border-bottom-width)
    var(--mixin-35phommMD-_border-bottom-style)
    var(--mixin-35phommMD-_border-bottom-color);
  border-left: var(--mixin-35phommMD-_border-left-width)
    var(--mixin-35phommMD-_border-left-style)
    var(--mixin-35phommMD-_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-rGIVD4BxJx_color);
  padding-left: var(--mixin-rGIVD4BxJx_padding-left);
  border-left: var(--mixin-rGIVD4BxJx_border-left-width)
    var(--mixin-rGIVD4BxJx_border-left-style)
    var(--mixin-rGIVD4BxJx_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-OTlzbBE3r7_background);
  font-family: var(--mixin-OTlzbBE3r7_font-family);
  border-radius: var(--mixin-OTlzbBE3r7_border-top-left-radius)
    var(--mixin-OTlzbBE3r7_border-top-right-radius)
    var(--mixin-OTlzbBE3r7_border-bottom-right-radius)
    var(--mixin-OTlzbBE3r7_border-bottom-left-radius);
  padding: var(--mixin-OTlzbBE3r7_padding-top)
    var(--mixin-OTlzbBE3r7_padding-right) var(--mixin-OTlzbBE3r7_padding-bottom)
    var(--mixin-OTlzbBE3r7_padding-left);
  border-top: var(--mixin-OTlzbBE3r7_border-top-width)
    var(--mixin-OTlzbBE3r7_border-top-style)
    var(--mixin-OTlzbBE3r7_border-top-color);
  border-right: var(--mixin-OTlzbBE3r7_border-right-width)
    var(--mixin-OTlzbBE3r7_border-right-style)
    var(--mixin-OTlzbBE3r7_border-right-color);
  border-bottom: var(--mixin-OTlzbBE3r7_border-bottom-width)
    var(--mixin-OTlzbBE3r7_border-bottom-style)
    var(--mixin-OTlzbBE3r7_border-bottom-color);
  border-left: var(--mixin-OTlzbBE3r7_border-left-width)
    var(--mixin-OTlzbBE3r7_border-left-style)
    var(--mixin-OTlzbBE3r7_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-FicmPvVcgT_display);
  flex-direction: var(--mixin-FicmPvVcgT_flex-direction);
  align-items: var(--mixin-FicmPvVcgT_align-items);
  justify-content: var(--mixin-FicmPvVcgT_justify-content);
  list-style-position: var(--mixin-FicmPvVcgT_list-style-position);
  padding-left: var(--mixin-FicmPvVcgT_padding-left);
  position: var(--mixin-FicmPvVcgT_position);
  list-style-type: var(--mixin-FicmPvVcgT_list-style-type);
  flex-column-gap: var(--mixin-FicmPvVcgT_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-B6bqZHfMbr_display);
  flex-direction: var(--mixin-B6bqZHfMbr_flex-direction);
  align-items: var(--mixin-B6bqZHfMbr_align-items);
  justify-content: var(--mixin-B6bqZHfMbr_justify-content);
  list-style-position: var(--mixin-B6bqZHfMbr_list-style-position);
  padding-left: var(--mixin-B6bqZHfMbr_padding-left);
  position: var(--mixin-B6bqZHfMbr_position);
  list-style-type: var(--mixin-B6bqZHfMbr_list-style-type);
  flex-column-gap: var(--mixin-B6bqZHfMbr_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-GcDHhclZKVi_font-family);
  color: var(--mixin-GcDHhclZKVi_color);
  font-size: var(--mixin-GcDHhclZKVi_font-size);
  font-weight: var(--mixin-GcDHhclZKVi_font-weight);
  letter-spacing: var(--mixin-GcDHhclZKVi_letter-spacing);
  line-height: var(--mixin-GcDHhclZKVi_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-1TtrqjJRrg0_font-family);
  color: var(--mixin-1TtrqjJRrg0_color);
  font-size: var(--mixin-1TtrqjJRrg0_font-size);
  font-weight: var(--mixin-1TtrqjJRrg0_font-weight);
  line-height: var(--mixin-1TtrqjJRrg0_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-xfPf5lx32Fl_color);
}
